         <!-- Footer
              ================================================== -->
              <hr>
            <div class="container">
                  <footer id="footer">
                    <p class="pull-right"><a href="#top">Back to top</a></p>
                    <p>&copy; Copyright 2013 by Xiaofei Wang.</p>                 
                  </footer>




    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </body>
</html>
